# Entornos virtuales

.venv/
venv/
env/

# Caché de Python

**pycache**/
*.py[cod]
*.pyc
*.pyo
*.pyd
*$py.class
.Python

# Datos y modelos

data/
src/data/
models/*.pth
models/*.onnx
models/*.h5

# Logs

logs/
logs/*.log
logs/*.log.*

# W&B

# wandb/
# wandb/run-*
# wandb/offline-run-*

# Pytest y cobertura

.pytest_cache/
.coverage
htmlcov/

# Jupyter

.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE

.vscode/
.idea/

# Secretos

.env
*.env

# Distribución

dist/
build/
*.egg-info/